In [14]:
import pandas as pd
df = pd.read_csv('../csv_data/EEW/EEW.csv')

df

               TEXT   X1   Y1   X2   Y2  block_no  line_no
0              Head   58   25   82   36         0        0
1           Office:   85   25  116   36         0        0
2             Sales  420   35  473   57         1        0
3           Invoice  479   35  548   57         1        0
4            Dublin   58   39   82   48         2        0
..              ...  ...  ...  ...  ...       ...      ...
286  newross@eew.ie  324  725  370  732        30        4
287            Page  460   73  482   84        31        0
288               1  485   73  491   84        31        0
289              of  493   73  501   84        31        0
290               1  504   73  510   84        31        0

[291 rows x 7 columns]

In [15]:
from pdf2df import convert_to_df
df = convert_to_df("../pdf_data/EEW/EEW_multi.pdf")
df

{'format': 'PDF 1.6', 'title': 'REPDATAB', 'author': 'Shane_f', 'subject': '', 'keywords': '', 'creator': '', 'producer': 'ComponentOne C1Report', 'creationDate': "D:20200618130044+01'00'", 'modDate': "D:20200629162226+01'00'", 'trapped': '', 'encryption': None}

                TEXT   X1   Y1   X2   Y2  block_no  line_no  page_no
0               Head   58   25   82   36         0        0        1
1            Office:   85   25  116   36         0        0        1
2              Sales  420   35  473   57         1        0        1
3            Invoice  479   35  548   57         1        0        1
4             Dublin   58   39   82   48         2        0        1
...              ...  ...  ...  ...  ...       ...      ...      ...
1140  newross@eew.ie  324  725  370  732        34        4        3
1141            Page  460   71  482   82        35        0        3
1142               3  485   71  491   82        35        0        3
1143              of  493   71  501   82        35        0        3
1144               3  504   71  510   82        35        0        3

[1145 rows x 8 columns]

In [16]:
def find_text(temp_df, text,case=False):
    location = temp_df[temp_df['TEXT'].str.contains(text,case=case, na=False)].index.tolist()
    return location

def find_next_word(temp_df, text, nearest_text, case=False):
    pos = find_text(temp_df,text,case=case)
    pos = [item +1 for item in pos]
#     print(pos)
    new_pos = list()
    for item in pos:
#         temp = df.loc[]
        temp_value= temp_df.loc[item]['TEXT']
#         print(temp_value.lower())
       
        if temp_value.lower().__contains__(nearest_text.lower()):
            new_pos.append(item-1)
        
    return new_pos

In [17]:
pos = find_next_word(df, 'Invoice', 'no')
invoice_no = df[pos[0] + 2:pos[0] + 3]['TEXT'].values[0]
invoice_no

'CI206808'

In [18]:
pos_date = find_text(df, 'date')[0]
date = df[pos_date + 1:pos_date + 2]['TEXT'].values[0]
date

'18/06/20'

In [25]:
page_no = df['page_no'].unique()
page_no

array([1, 2, 3], dtype=int64)

In [36]:
result = []
for page in page_no:
    mydf = df[df['page_no']==page].reset_index(drop=True)
    get_result(mydf,result)
    
len(result)

{'desc': ' 63AMP NEOZED SWITCH FUSE',
 'disc': 0,
 'part': 'STVD02-1',
 'qty': '1',
 'total': '11.06',
 'unit': '11.060'}
{'desc': ' 63AMP NEOZED SWITCH FUSE',
 'disc': 0,
 'part': 'STVD02-3',
 'qty': '1',
 'total': '37.77',
 'unit': '37.770'}
{'desc': ' 63 AMP NEOZED FUSE',
 'disc': 0,
 'part': 'NEOZ63',
 'qty': '4',
 'total': '3.60',
 'unit': '0.900'}
{'desc': ' RCBO 2 POLE B10A 30MA',
 'disc': 0,
 'part': 'AD910J',
 'qty': '1',
 'total': '18.95',
 'unit': '18.950'}
{'desc': ' RCBO 2POLE B16A 30MA A',
 'disc': 0,
 'part': 'AD916J',
 'qty': '1',
 'total': '18.95',
 'unit': '18.950'}
{'desc': ' RCBO 2 POLE B20A C30MA',
 'disc': 0,
 'part': 'AD920J',
 'qty': '1',
 'total': '18.95',
 'unit': '18.950'}
{'desc': ' 32A 3 POLE MCB C F+G',
 'disc': 0,
 'part': 'L7-32/3/C',
 'qty': '1',
 'total': '16.23',
 'unit': '16.230'}
{'desc': ' ENCL IP65 12 MOD C/W HINGED',
 'disc': 0,
 'part': '13444',
 'qty': '1',
 'total': '19.50',
 'unit': '19.500'}
{'desc': ' ENCL IP65 24 MOD 2 ROW',
 'disc': 0,
 'part': '13433',
 'qty': '1',
 'total': '38.00',
 'unit': '38.000'}
{'desc': ' 10SQ.DP BUSBAR PIN TYPE',
 'disc': 0,
 'part': '2PBUSBAR',
 'qty': '1',
 'total': '15.68',
 'unit': '15.680'}
{'desc': ' 10.0 PANEL WIRE BROWN',
 'disc': 0,
 'part': 'PW100BR',
 'qty': '0.04',
 'total': '6.20',
 'unit': '155.000'}
{'desc': ' 10.0 PANEL WIRE BLUE',
 'disc': 0,
 'part': 'PW100BL',
 'qty': '0.04',
 'total': '6.20',
 'unit': '155.000'}
{'desc': ' 10SQ PANEL FLEX GREY',
 'disc': 0,
 'part': 'PW100GR',
 'qty': '0.04',
 'total': '6.20',
 'unit': '155.000'}
{'desc': ' 10SQ PANEL FLEX BLACK',
 'disc': 0,
 'part': 'PW100B',
 'qty': '0.04',
 'total': '6.20',
 'unit': '155.000'}
{'desc': ' 20MM PVC GLAND',
 'disc': 0,
 'part': 'OBO20',
 'qty': '30',
 'total': '15.00',
 'unit': '0.500'}
{'desc': ' B.W.2 PART M20 PKT OF 2',
 'disc': 0,
 'part': '20BW',
 'qty': '2',
 'total': '4.40',
 'unit': '2.200'}
{'desc': ' B.W.2 PART M25 PKT OF 2',
 'disc': 0,
 'part': '25BW',
 'qty': '1',
 'total': '3.95',
 'unit': '3.950'}
{'desc': ' 25MM PVC GLAND',
 'disc': 0,
 'part': 'OBO25',
 'qty': '10',
 'total': '6.50',
 'unit': '0.650'}
{'desc': ' IP SOCKET 2G',
 'disc': 0,
 'part': 'EOD2G',
 'qty': '1',
 'total': '15.20',
 'unit': '15.200'}
{'desc': ' 220V 16A 2P+E IP44 SOCKET',
 'disc': 0,
 'part': 'EC690501D',
 'qty': '2',
 'total': '8.40',
 'unit': '4.200'}
{'desc': ' 13A TWIN SP SWITCHED SOCKET',
 'disc': 0,
 'part': '1209/M',
 'qty': '1',
 'total': '7.65',
 'unit': '7.650'}
{'desc': ' 3X1.5 NYM J',
 'disc': 0,
 'part': 'NYM3X15',
 'qty': '1',
 'total': '38.00',
 'unit': '38.000'}
{'desc': ' 3X2.5 NYM J',
 'disc': 0,
 'part': 'NYM3X25',
 'qty': '1',
 'total': '58.90',
 'unit': '58.900'}
{'desc': ' 3X6.0 NYM J',
 'disc': 0,
 'part': 'NYM3X60',
 'qty': '0.1',
 'total': '15.50',
 'unit': '155.000'}
{'desc': ' 5X6.0 NYM J',
 'disc': 0,
 'part': 'NYM5X60',
 'qty': '0.1',
 'total': '24.50',
 'unit': '245.000'}
{'desc': ' 5X10.0 SWA CABLE',
 'disc': 0,
 'part': 'SWA5X100',
 'qty': '0.4',
 'total': '204.00',
 'unit': '510.000'}
{'desc': ' 5X1.5 SWA CABLE',
 'disc': 0,
 'part': 'SWA5X15',
 'qty': '0.15',
 'total': '17.55',
 'unit': '117.000'}
{'desc': ' 85x85x51 WISKA BOX COMBI',
 'disc': 0,
 'part': '60401',
 'qty': '7',
 'total': '23.80',
 'unit': '3.400'}
{'desc': ' 1 GANG 2 WAY SWITCH',
 'disc': 0,
 'part': '1203/M',
 'qty': '1',
 'total': '4.63',
 'unit': '4.630'}
{'desc': ' 1 GANG W/P SWITCH',
 'disc': 0,
 'part': 'GW27833',
 'qty': '1',
 'total': '6.45',
 'unit': '6.450'}
{'desc': ' 20MM GALVANISED CONDUIT',
 'disc': 0,
 'part': 'GALV203.75M',
 'qty': '4',
 'total': '19.40',
 'unit': '4.850'}
{'desc': ' SOLID COUPLER M20',
 'disc': 0,
 'part': '20COUP',
 'qty': '5',
 'total': '0.75',
 'unit': '0.150'}
{'desc': ' MALE BUSH SHORT M20 E/FAST',
 'disc': 0,
 'part': '20MBB',
 'qty': '10',
 'total': '1.60',
 'unit': '0.160'}
{'desc': ' 10q PVC GREEN/YELLOW',
 'disc': 0,
 'part': 'SP100GY',
 'qty': '1',
 'total': '76.00',
 'unit': '76.000'}
{'desc': ' COPPER TUBE LUGS 10',
 'disc': 0,
 'part': 'LUG10/8',
 'qty': '30',
 'total': '10.50',
 'unit': '0.350'}
{'desc': ' INSULATING TAPE W=19MM',
 'disc': 0,
 'part': 'NI22',
 'qty': '1',
 'total': '0.65',
 'unit': '0.650'}
{'desc': ' STRIP CONNECTOR 15AMP',
 'disc': 0,
 'part': 'PN15',
 'qty': '8',
 'total': '6.88',
 'unit': '0.860'}
{'desc': ' EXCELL 100MM CABLE TRAY/JOINER',
 'disc': 0,
 'part': 'MTX100',
 'qty': '8',
 'total': '64.00',
 'unit': '8.000'}
{'desc': ' 100MM BRACKET',
 'disc': 0,
 'part': 'CTB100',
 'qty': '20',
 'total': '49.00',
 'unit': '2.450'}
{'desc': ' 10M JACKCHAIN',
 'disc': 0,
 'part': 'JC10',
 'qty': '1',
 'total': '8.00',
 'unit': '8.000'}
{'desc': ' GARO 40AMP ISOLATOR IP65',
 'disc': 0,
 'part': 'SS340',
 'qty': '1',
 'total': '22.44',
 'unit': '22.440'}
{'desc': ' 5.5X25 TEX SCREW/BOX 200',
 'disc': 0,
 'part': '200-100-020',
 'qty': '1',
 'total': '4.81',
 'unit': '4.810'}

42

In [28]:
table_start = find_next_word(df, 'qty', 'nett')
table_end = find_text(df, 'title')
table_data = df[table_start[0]:table_end[0]]
table_data

            TEXT   X1   Y1   X2   Y2  block_no  line_no  page_no
49           Qty  416  250  431  260        12        1        1
50          Nett  461  250  478  260        12        2        1
51           Ext  508  250  522  260        12        3        1
52            VC  542  250  554  260        12        4        1
53   Description  125  251  175  261        12        5        1
..           ...  ...  ...  ...  ...       ...      ...      ...
224            2  246  504  251  514        29        1        1
225            1  425  504  430  514        29        2        1
226        3.950  456  504  478  514        29        3        1
227         3.95  506  505  523  515        29        4        1
228            1  560  504  565  514        29        5        1

[180 rows x 8 columns]

In [32]:
def get_result(df, result):
    table_start = find_next_word(df, 'qty', 'nett')
    table_end = find_text(df, 'title')
    table_data = df[table_start[0]:table_end[0]]
    msg = dict()
    for index, row in table_data.iterrows():
        if row['X1'] < 50:
            msg = dict()
            msg['part'] = row['TEXT']
            msg['desc'] = ''
            msg['disc'] = 0
        if ('part' in msg) and (130 < row['X1'] < 250):
            msg['desc'] = msg['desc'] + " " + row['TEXT']
            msg['qty'] = ''
        if 'qty' in msg and 390 < row['X1'] < 435:
            msg['qty'] = row['TEXT']
            msg['unit'] = 0
        if 'unit' in msg and 440 < row['X1'] < 480:
            msg['unit'] = row['TEXT']
            msg['total'] = 0
        if 'total' in msg and 480 < row['X1'] < 530:
            msg['total'] = row['TEXT']
            pprint(msg)
            result.append(msg)
            msg = dict()

In [30]:
len(result)

17

In [20]:
from pprint import pprint
msg = dict()
result = list()
for index, row in table_data.iterrows():
    if row['X1'] < 50:
        msg = dict()
        msg['part'] = row['TEXT']
        msg['desc'] = ''
        msg['disc'] = 0
    if ('part' in msg) and (130 < row['X1'] < 250):
        msg['desc'] = msg['desc'] + " " + row['TEXT']
        msg['qty'] = ''
    if 'qty' in msg and 390 < row['X1'] < 435:
        msg['qty'] = row['TEXT']
        msg['unit'] = 0
    if 'unit' in msg and 440 < row['X1'] < 480:
        msg['unit'] = row['TEXT']
        msg['total'] = 0
    if 'total' in msg and 480 < row['X1'] < 530:
        msg['total'] = row['TEXT']
        pprint(msg)
        result.append(msg)
        msg = dict()

{'desc': ' 63AMP NEOZED SWITCH FUSE',
 'disc': 0,
 'part': 'STVD02-1',
 'qty': '1',
 'total': '11.06',
 'unit': '11.060'}
{'desc': ' 63AMP NEOZED SWITCH FUSE',
 'disc': 0,
 'part': 'STVD02-3',
 'qty': '1',
 'total': '37.77',
 'unit': '37.770'}
{'desc': ' 63 AMP NEOZED FUSE',
 'disc': 0,
 'part': 'NEOZ63',
 'qty': '4',
 'total': '3.60',
 'unit': '0.900'}
{'desc': ' RCBO 2 POLE B10A 30MA',
 'disc': 0,
 'part': 'AD910J',
 'qty': '1',
 'total': '18.95',
 'unit': '18.950'}
{'desc': ' RCBO 2POLE B16A 30MA A',
 'disc': 0,
 'part': 'AD916J',
 'qty': '1',
 'total': '18.95',
 'unit': '18.950'}
{'desc': ' RCBO 2 POLE B20A C30MA',
 'disc': 0,
 'part': 'AD920J',
 'qty': '1',
 'total': '18.95',
 'unit': '18.950'}
{'desc': ' 32A 3 POLE MCB C F+G',
 'disc': 0,
 'part': 'L7-32/3/C',
 'qty': '1',
 'total': '16.23',
 'unit': '16.230'}
{'desc': ' ENCL IP65 12 MOD C/W HINGED',
 'disc': 0,
 'part': '13444',
 'qty': '1',
 'total': '19.50',
 'unit': '19.500'}
{'desc': ' ENCL IP65 24 MOD 2 ROW',
 'disc': 0,
 'part': '13433',
 'qty': '1',
 'total': '38.00',
 'unit': '38.000'}
{'desc': ' 10SQ.DP BUSBAR PIN TYPE',
 'disc': 0,
 'part': '2PBUSBAR',
 'qty': '1',
 'total': '15.68',
 'unit': '15.680'}
{'desc': ' 10.0 PANEL WIRE BROWN',
 'disc': 0,
 'part': 'PW100BR',
 'qty': '0.04',
 'total': '6.20',
 'unit': '155.000'}
{'desc': ' 10.0 PANEL WIRE BLUE',
 'disc': 0,
 'part': 'PW100BL',
 'qty': '0.04',
 'total': '6.20',
 'unit': '155.000'}
{'desc': ' 10SQ PANEL FLEX GREY',
 'disc': 0,
 'part': 'PW100GR',
 'qty': '0.04',
 'total': '6.20',
 'unit': '155.000'}
{'desc': ' 10SQ PANEL FLEX BLACK',
 'disc': 0,
 'part': 'PW100B',
 'qty': '0.04',
 'total': '6.20',
 'unit': '155.000'}
{'desc': ' 20MM PVC GLAND',
 'disc': 0,
 'part': 'OBO20',
 'qty': '30',
 'total': '15.00',
 'unit': '0.500'}
{'desc': ' B.W.2 PART M20 PKT OF 2',
 'disc': 0,
 'part': '20BW',
 'qty': '2',
 'total': '4.40',
 'unit': '2.200'}
{'desc': ' B.W.2 PART M25 PKT OF 2',
 'disc': 0,
 'part': '25BW',
 'qty': '1',
 'total': '3.95',
 'unit': '3.950'}

In [21]:
len(result)

17