In [25]:
import sys
sys.path.append('../')
from pdf2df import convert_to_df
# original_df = convert_to_df('../../multipdf/Mitsubishi -  0052034922.pdf')
original_df = convert_to_df('../../pdf_data/Mitsubishi/Mitsubishi_1.pdf')

original_df

{'format': 'PDF 1.3', 'title': '', 'author': 'BATCHUSER ', 'subject': '', 'keywords': '', 'creator': 'Form ZMEUGER_RVINVOIC EN', 'producer': 'SAP NetWeaver 702 ', 'creationDate': 'D:20200319230106Z', 'modDate': "D:20200402104012+01'00'", 'trapped': '', 'encryption': None}

Deprecation: 'getText' removed from class 'Page' after v1.19 - use 'get_text'.

,TEXT,X1,Y1,X2,Y2,block_no,line_no,page_no
0,______________________________________________...,50,445,560,459,0,0,1
1,Item,50,463,70,477,1,0,1
2,Material,115,463,152,477,1,1,1
3,Description,178,463,230,477,1,2,1
4,Qty,189,475,205,489,2,0,1
...,...,...,...,...,...,...,...,...
422,51845029,380,163,429,177,8,1,2
423,Page:,453,73,478,87,9,0,2
424,2,484,73,489,87,9,0,2
425,of,495,73,504,87,9,0,2
426,2,525,73,530,87,9,0,2

In [26]:
def find_text(temp_df, text, case=False):
    location = temp_df[temp_df['TEXT'].str.contains(text, case=case, na=False)].index.tolist()
    return location


def find_next_word(temp_df, text, nearest_text, case=False):
    pos = find_text(temp_df, text, case=case)
    pos = [item + 1 for item in pos]
    #     print(pos)
    new_pos = list()
    for item in pos:
        #         temp = df.loc[]
        temp_value = temp_df.loc[item]['TEXT']
        #         print(temp_value.lower())

        if temp_value.lower().__contains__(nearest_text.lower()):
            new_pos.append(item - 1)

    return new_pos

In [27]:
df = original_df[original_df.page_no==1].reset_index(drop=True)
df

,TEXT,X1,Y1,X2,Y2,block_no,line_no,page_no
0,______________________________________________...,50,445,560,459,0,0,1
1,Item,50,463,70,477,1,0,1
2,Material,115,463,152,477,1,1,1
3,Description,178,463,230,477,1,2,1
4,Qty,189,475,205,489,2,0,1
...,...,...,...,...,...,...,...,...
285,Tullow,123,283,153,297,41,2,1
286,CARLOW,50,295,93,309,41,3,1
287,R93EV90,50,307,94,321,41,4,1
288,IRELAND,50,319,92,333,41,5,1
289,Invoice,309,159,355,178,42,0,1

In [17]:
find_text(df, '______________________________________________')

[0, 7, 46]

In [34]:
table_start = find_text(df, 'Item')
table_end = find_text(df, '______________________________________________')

if len(table_end) < 3:
    table_end = find_text(df, 'commodity')

print(table_start, table_end)

try:
    
    table_data = df[table_start[0]:table_end[-1]+1]
    
except Exception as e:
    print(str(e))

# table_data = df[table_start[0]:table_end[-1]+1]

# table_data = df[table_start[0]:table_end[-1]+1]

[1, 47] [0, 7, 46]

In [35]:
table_data

,TEXT,X1,Y1,X2,Y2,block_no,line_no,page_no
1,Item,50,463,70,477,1,0,1
2,Material,115,463,152,477,1,1,1
3,Description,178,463,230,477,1,2,1
4,Qty,189,475,205,489,2,0,1
5,Price/piece,241,475,291,489,2,1,1
6,Value/EUR,506,475,555,489,2,2,1
7,______________________________________________...,50,481,560,495,2,3,1
8,000020,50,499,87,513,3,0,1
9,316585,115,499,152,513,3,1,1
10,FR-E740-060SC-ENE,178,499,277,513,3,2,1
11,Inverter;,178,515,202,523,4,0,1
12,Rated,205,515,221,523,4,0,1
13,Power:,224,515,243,523,4,0,1
14,"2,2kW;",246,515,267,523,4,0,1
15,3x380-480V;,270,515,308,523,4,0,1
16,Rated,311,515,327,523,4,0,1
17,Current:,330,515,353,523,4,0,1
18,6A@50Â°C;,356,515,385,523,4,0,1
19,IP20,388,515,400,523,4,0,1
20,1,199,523,205,537,5,0,1
21,PC,220,523,233,537,5,1,1
22,604.40,272,523,306,537,5,1,1
23,EUR,312,523,332,537,5,1,1
24,1,353,523,359,537,5,1,1
25,PC,365,523,378,537,5,1,1
26,604.40,518,523,553,537,5,2,1
27,Discount,50,535,90,549,6,0,1
28,44.44-,264,535,296,549,6,1,1
29,%,305,535,314,549,6,2,1
30,268.60-,524,535,562,549,6,4,1
31,Net,50,547,65,561,7,0,1
32,value,71,547,96,561,7,0,1
33,1,101,547,106,561,7,0,1
34,335.80,258,547,292,561,7,1,1
35,EUR,305,547,325,561,7,2,1
36,1,412,547,418,561,7,3,1
37,PC,452,547,465,561,7,4,1
38,335.80,524,547,558,561,7,5,1
39,Commodity,149,559,202,573,8,0,1
40,Code:,207,559,234,573,8,0,1
41,85044090,305,559,355,573,8,1,1
42,Country,149,571,186,585,9,0,1
43,of,191,571,200,585,9,0,1
44,origin:,206,571,234,585,9,0,1
45,Japan,305,571,333,585,9,1,1
46,______________________________________________...,50,583,560,597,10,0,1

In [36]:
from pprint import pprint
msg = dict()
result = list()
for index, row in table_data.iterrows():
    if  (40 < row['X1'] < 87) and (row['TEXT'].isdigit()) : 
#         print(row['TEXT'])
        msg = dict()
        msg['item'] = row['TEXT']
        msg['disc'] = 0
        msg['desc_not'] = True
#         print(row['TEXT'])
        
    if ('item' in msg) and (110 < row['X1'] < 142):
        msg['part'] = row['TEXT']
#         print(row['TEXT'])
        msg['desc'] = ''
        
    if 'part' in msg and (173 < row['X1'] < 400) and msg['desc_not']:
        msg['desc'] = msg['desc'] + " " + row['TEXT']
        
    if row['TEXT'] =='PC' and not 'qty' in msg  :
#         print(table_data.iloc[index-2]['TEXT'])
        msg['qty'] = table_data.iloc[index-3]['TEXT']
        msg['desc_not'] = False
#         print(row['TEXT'])
        
    if row['TEXT'].__contains__('Discount'):
#         print(table_data.iloc[index-1]['TEXT'])
        msg['disc'] = table_data.iloc[index-1]['TEXT'].replace('-','')
        
    if row['TEXT'].__contains__("Commodity"):
        msg['total'] = table_data.iloc[index-3]['TEXT']
        print(msg)

{'item': '000020', 'disc': 'Discount', 'desc_not': False, 'part': '316585', 'desc': ' FR-E740-060SC-ENE Inverter; Rated Power: 2,2kW; 3x380-480V; Rated Current: 6A@50Â°C; IP20 1 PC', 'qty': 'IP20', 'total': 'PC'}

In [38]:

table_start = find_text(df, 'Item')
table_end = find_text(df, '______________________________________________')
if len(table_end) < 3:
    table_end = find_text(df, 'commodity')

table_data = df[table_start[0]:table_end[-1] + 1]
for index, row in table_data.iterrows():

    if (40 < row['X1'] < 87) and (row['TEXT'].isdigit()):
        #         print(row['TEXT'])
        msg = dict()
        msg['item'] = row['TEXT']
        msg['disc'] = 0
        msg['desc_not'] = True
        print(row['TEXT'])

    if ('item' in msg) and (110 < row['X1'] < 142):
        msg['part'] = row['TEXT']
        print(row['TEXT'])
        msg['desc'] = ''

    if 'part' in msg and (173 < row['X1'] < 400) and msg['desc_not']:
        msg['desc'] = msg['desc'] + " " + row['TEXT']

    if row['TEXT'] == 'PC' and not 'qty' in msg:
        print(table_data.iloc[index - 2]['TEXT'])
        msg['qty'] = table_data.iloc[index - 2]['TEXT']
        msg['desc_not'] = False


    if row['TEXT'].__contains__('Discount'):
        msg['disc'] = table_data.iloc[index]['TEXT'].replace('-', '')

    if row['TEXT'].__contains__("Commodity"):
        msg['total'] = table_data.iloc[index - 2]['TEXT']
        msg['unit'] = str(float(msg['total'].replace(',','')) / int(msg['qty']))
        print(msg)
        result.append(msg)
        msg= dict()

000020
316585
1
{'item': '000020', 'disc': '44.44', 'desc_not': False, 'part': '316585', 'desc': ' FR-E740-060SC-ENE Inverter; Rated Power: 2,2kW; 3x380-480V; Rated Current: 6A@50Â°C; IP20 1 PC', 'qty': '1', 'total': '335.80', 'unit': '335.8'}

In [39]:
df = original_df.copy()
page_no = df['page_no'].unique()
page_no

array([1, 2], dtype=int64)

In [40]:
result = []
for page in page_no:
    mydf = df[df['page_no']==page].reset_index(drop=True)
    get_result(mydf,result)
len(result)

[1, 47] [0, 7, 46]
{'item': '000020', 'disc': 'Discount', 'desc_not': False, 'part': '316585', 'desc': ' FR-E740-060SC-ENE Inverter; Rated Power: 2,2kW; 3x380-480V; Rated Current: 6A@50Â°C; IP20 1 PC', 'qty': 'IP20', 'total': 'PC'}
[] []
list index out of range

UnboundLocalError: local variable 'table_data' referenced before assignment

In [42]:
def get_result(df,result):
    
    table_start = find_text(df, 'Item')
    table_end = find_text(df, '______________________________________________')

    if len(table_end) < 3:
        table_end = find_text(df, 'commodity')

    print(table_start, table_end)
    
    try:

        table_data = df[table_start[0]:table_end[-1]+1]

    except Exception as e:
        print(str(e))
        
    from pprint import pprint
    msg = dict()
    for index, row in table_data.iterrows():
        if  (40 < row['X1'] < 87) and (row['TEXT'].isdigit()) : 
    #         print(row['TEXT'])
            msg = dict()
            msg['item'] = row['TEXT']
            msg['disc'] = 0
            msg['desc_not'] = True
    #         print(row['TEXT'])

        if ('item' in msg) and (110 < row['X1'] < 142):
            msg['part'] = row['TEXT']
    #         print(row['TEXT'])
            msg['desc'] = ''

        if 'part' in msg and (173 < row['X1'] < 400) and msg['desc_not']:
            msg['desc'] = msg['desc'] + " " + row['TEXT']

        if row['TEXT'] =='PC' and not 'qty' in msg  :
    #         print(table_data.iloc[index-2]['TEXT'])
            msg['qty'] = table_data.iloc[index-3]['TEXT']
            msg['desc_not'] = False
    #         print(row['TEXT'])

        if row['TEXT'].__contains__('Discount'):
    #         print(table_data.iloc[index-1]['TEXT'])
            msg['disc'] = table_data.iloc[index-1]['TEXT'].replace('-','')

        if row['TEXT'].__contains__("Commodity"):
            msg['total'] = table_data.iloc[index-3]['TEXT']
            print(msg)