In [1]:
import pandas as pd
df = pd.read_csv('../csv_data/Radionics/Radionics_v1.csv')

df

           TEXT   X1   Y1   X2   Y2  block_no  line_no  page_no
0     Radionics  109   26  137   34         0        0        1
1          Ltd,  138   26  150   34         0        0        1
2      Glenview  109   34  136   42         0        1        1
3    Industrial  138   34  164   42         0        1        1
4       Estate,  166   34  185   42         0        1        1
..          ...  ...  ...  ...  ...       ...      ...      ...
299           &  328  760  334  768        10        6        1
300     service  336  760  355  768        10        6        1
301   available  357  760  382  768        10        6        1
302          on  384  760  391  768        10        6        1
303    request.  393  760  415  768        10        6        1

[304 rows x 8 columns]

In [2]:
def find_text(temp_df, text,case=False):
    location = temp_df[temp_df['TEXT'].str.contains(text,case=case, na=False)].index.tolist()
    return location

def find_next_word(temp_df, text, nearest_text, case=False):
    pos = find_text(temp_df,text,case=case)
    pos = [item +1 for item in pos]
#     print(pos)
    new_pos = list()
    for item in pos:
#         temp = df.loc[]
        temp_value= temp_df.loc[item]['TEXT']
#         print(temp_value.lower())
       
        if temp_value.lower().__contains__(nearest_text.lower()):
            new_pos.append(item-1)
        
    return new_pos

In [9]:
pos = find_next_word(df,'Invoice', 'No.')
invoice_no = df[pos[0]+2:pos[0]+3]['TEXT'].values[0]
invoice_no

'412759478'

In [10]:
pos_date =find_text(df,'date')[0]
date = df[pos_date+3:pos_date+4]['TEXT'].values[0]
date

'02.04.2020'

In [19]:
table_start = find_next_word(df,'qty','sales')
print(table_start)
table_end = find_text(df, 'Standard')
print(table_end)
table_data = df[table_start[0]:table_end[0]]
table_data[10:40]

[111]
[156]

            TEXT   X1   Y1   X2   Y2  block_no  line_no  page_no
121           10   31  461   39  470         8        0        1
122      5091073   59  461   87  470         8        1        1
123  TEMPERATURE  107  461  165  470         8        2        1
124    CONVERTOR  167  461  216  470         8        2        1
125     0C/+600C  218  461  252  470         8        2        1
126            2  353  461  357  470         8        3        1
127           EA  359  461  369  470         8        3        1
128        69.91  461  461  479  470         8        4        1
129       139.82  510  461  532  470         8        5        1
130       23.00%  539  461  564  470         8        6        1
131           HS  107  471  117  480         8        7        1
132         code  119  471  135  480         8        7        1
133     85371095  137  471  169  480         8        7        1
134            C  252  471  257  480         8        8        1
135           of  259  471  266  480         8        8        1
136            O  268  471  274  480         8        8        1
137     Bulgaria  276  471  303  480         8        8        1
138           20   31  482   39  491         8        9        1
139      5091051   59  482   87  491         8       10        1
140  TEMPERATURE  107  482  165  491         8       11        1
141    CONVERTOR  167  482  216  491         8       11        1
142     0C/+250C  218  482  252  491         8       11        1
143            1  353  482  357  491         8       12        1
144           EA  359  482  369  491         8       12        1
145        69.91  461  482  479  491         8       13        1
146        69.91  514  482  532  491         8       14        1
147       23.00%  539  482  564  491         8       15        1
148           HS  107  492  117  501         8       16        1
149         code  119  492  135  501         8       16        1
150     85371095  137  492  169  501         8       16        1

In [22]:
from pprint import pprint
msg = dict()
result = list()
for index, row in table_data.iterrows():
    
    if row['X1'] < 39: 
        msg = dict()
        msg['item'] = row['TEXT']
        msg['part'] = ''
        
    if ('part' in msg) and (50 < row['X1'] < 87):
        msg['part']= row['TEXT']
        msg['desc']= ''
        
    if ('desc' in msg) and (100 < row['X1'] < 250):
        msg['desc'] = msg['desc'] + row['TEXT']
        msg['qty'] = ''

    if ('qty' in msg) and (350 < row['X1'] < 357):
        msg['qty'] = row['TEXT']
        msg['unit'] = 0
        
    if ('unit' in msg) and (450  < row['X1'] < 479):
        msg['unit'] = row['TEXT']
        msg['total'] = 0
        
    if ('total' in msg) and (500 < row['X1'] < 530):
        msg['total'] = row['TEXT']
        pprint(msg)
        result.append(msg)
        msg=dict()

{'desc': 'TEMPERATURECONVERTOR0C/+600C',
 'item': '10',
 'part': '5091073',
 'qty': '2',
 'total': '139.82',
 'unit': '69.91'}
{'desc': 'TEMPERATURECONVERTOR0C/+250C',
 'item': '20',
 'part': '5091051',
 'qty': '1',
 'total': '69.91',
 'unit': '69.91'}