In [48]:
import pandas as pd
df = pd.read_csv('../csv_data/SB/SB Steel -   0091241464.csv')

df

             TEXT   X1   Y1   X2   Y2  block_no  line_no  page_no
0    Requirements   14  341   76  355         0        0        1
1        Currency  448  341  489  355         0        1        1
2             EUR  496  341  518  356         0        1        1
3           Terms   14  353   50  368         1        0        1
4              of   57  353   71  368         1        0        1
..            ...  ...  ...  ...  ...       ...      ...      ...
151        number  348  251  375  262        15        8        1
152       SBPEM01  311  260  362  275        15        9        1
153      Delivery  311  275  340  286        15       10        1
154        Number  342  275  371  286        15       10        1
155      81285025  311  284  369  299        15       11        1

[156 rows x 8 columns]

In [68]:
from pdf2df import convert_to_df
df = convert_to_df('../pdf_data/SB/SB Steel -   0091262881.pdf')

{'format': 'PDF 1.3', 'title': '', 'author': 'DDIC ', 'subject': '', 'keywords': '', 'creator': 'Form Z_ZVINVOICE02 EN', 'producer': 'SAP NetWeaver 750 ', 'creationDate': 'D:20220329125538Z', 'modDate': "D:20220331170336+01'00'", 'trapped': '', 'encryption': None}

In [69]:
def find_text(temp_df, text,case=False):
    location = temp_df[temp_df['TEXT'].str.contains(text,case=case, na=False)].index.tolist()
    return location

def find_next_word(temp_df, text, nearest_text, case=False):
    pos = find_text(temp_df,text,case=case)
    pos = [item +1 for item in pos]
#     print(pos)
    new_pos = list()
    for item in pos:
#         temp = df.loc[]
        temp_value= temp_df.loc[item]['TEXT']
#         print(temp_value.lower())
       
        if temp_value.lower().__contains__(nearest_text.lower()):
            new_pos.append(item-1)
        
    return new_pos

In [70]:
number =find_text(df, 'Number')
po_data = df[number[0]+1:number[0]+4]['TEXT'].values
invoice_no = po_data[0]
invoice_date = po_data[2]
print(invoice_date)
print(invoice_no)

# print(po_data[0])
# print(po_data[2])

29.03.2022
91262881

In [71]:
table_start = find_text(df, '______________________________________________...')
print(table_start)
table_end = find_text(df, '______________________________________________...')
print(table_end)
table_data = df[table_start[1]+1:table_end[-1]]
table_data

[12, 23, 69]
[12, 23, 69]

               TEXT   X1   Y1   X2   Y2  block_no  line_no  page_no
24             0010   14  463   31  474         5        0        1
25      PLL04250125   42  463   92  474         5        1        1
26             2500  127  463  145  474         5        2        1
27                X  147  463  152  474         5        2        1
28             1250  155  463  172  474         5        2        1
29                X  175  463  180  474         5        2        1
30              4.0  182  463  193  474         5        2        1
31             H.R.  200  463  216  474         5        2        1
32              PLA  218  463  233  474         5        2        1
33              2.0  284  463  295  474         5        3        1
34               AT  303  463  313  474         5        4        1
35              196  352  463  365  474         5        5        1
36           166.80  398  463  423  474         5        6        1
37               AT  439  463  449  474         5        7        1
38           333.60  492  463  516  474         5        8        1
39             0020   14  472   31  483         6        0        1
40  PLL06250125S275   42  472  110  483         6        1        1
41             2500  127  472  145  483         6        2        1
42                X  147  472  152  483         6        2        1
43             1250  155  472  172  483         6        2        1
44                X  175  472  180  483         6        2        1
45              6.0  182  472  193  483         6        2        1
46              H.R  196  472  209  483         6        2        1
47            PLATE  211  472  237  483         6        2        1
48              2.0  284  472  295  483         6        3        1
49               AT  303  472  313  483         6        4        1
50              294  352  472  365  483         6        5        1
51           250.00  398  472  423  483         6        6        1
52               AT  439  472  449  483         6        7        1
53           500.00  492  472  516  483         6        8        1
54             0030   14  481   31  492         7        0        1
55      SGA25012530   42  481   94  492         7        1        1
56             2500  127  481  145  492         7        2        1
57                X  147  481  152  492         7        2        1
58             1250  155  481  172  492         7        2        1
59                X  175  481  180  492         7        2        1
60              3.0  182  481  193  492         7        2        1
61             GALV  198  481  219  492         7        2        1
62             SHEE  221  481  243  492         7        2        1
63              1.0  284  481  295  492         7        3        1
64               AT  303  481  313  492         7        4        1
65               75  357  481  366  492         7        5        1
66           143.00  398  481  423  492         7        6        1
67               AT  439  481  449  492         7        7        1
68           143.00  492  481  516  492         7        8        1

In [72]:
from pprint import pprint
msg = dict()
result = list()
for index, row in table_data.iterrows():
    
#     if row['X1'] < 39: 
#         msg = dict()
#         msg['item'] = row['TEXT']
#         msg['part'] = ''
    if (10 <row['X1'] < 31):
        msg =dict()
        msg['part'] = ''
        
    if ('part' in msg) and (31 < row['X1'] < 120):
#         print(row['TEXT'])
        msg['part']= row['TEXT']
        msg['desc']= ''
        
    if ('desc' in msg) and (120 < row['X1'] < 234):
#         print(row['TEXT'])
        msg['desc'] = msg['desc'] +" "+row['TEXT']
        msg['qty'] = ''

    if ('qty' in msg) and (280 < row['X1'] < 295):
#         print(row['TEXT'])
        msg['qty'] = row['TEXT']
        msg['unit'] = 0
        
    if ('unit' in msg) and (390  < row['X1'] < 423):
#         print(row['TEXT'])
        msg['unit'] = row['TEXT']
        msg['total'] = 0
        
    if ('total' in msg) and (480 < row['X1'] < 516):
#         print(row['TEXT'])
        msg['total'] = row['TEXT']
        pprint(msg)
        result.append(msg)
        msg=dict()

{'desc': ' 2500 X 1250 X 4.0 H.R. PLA',
 'part': 'PLL04250125',
 'qty': '2.0',
 'total': '333.60',
 'unit': '166.80'}
{'desc': ' 2500 X 1250 X 6.0 H.R PLATE',
 'part': 'PLL06250125S275',
 'qty': '2.0',
 'total': '500.00',
 'unit': '250.00'}
{'desc': ' 2500 X 1250 X 3.0 GALV SHEE',
 'part': 'SGA25012530',
 'qty': '1.0',
 'total': '143.00',
 'unit': '143.00'}

In [73]:
result

[{'part': 'PLL04250125',
  'desc': ' 2500 X 1250 X 4.0 H.R. PLA',
  'qty': '2.0',
  'unit': '166.80',
  'total': '333.60'},
 {'part': 'PLL06250125S275',
  'desc': ' 2500 X 1250 X 6.0 H.R PLATE',
  'qty': '2.0',
  'unit': '250.00',
  'total': '500.00'},
 {'part': 'SGA25012530',
  'desc': ' 2500 X 1250 X 3.0 GALV SHEE',
  'qty': '1.0',
  'unit': '143.00',
  'total': '143.00'}]